In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-01-25 19:48:59,-22.9661,-42.0278,84.16,69,0,25.32
1,1,Okhotsk,RU,2022-01-25 19:53:28,59.3833,143.3000,-6.52,99,99,5.41
2,2,Bonavista,CA,2022-01-25 19:53:28,48.6499,-53.1147,31.12,72,100,8.95
3,3,Saint-Pierre,RE,2022-01-25 19:53:29,-21.3393,55.4781,74.88,69,100,10.36
4,4,Pevek,RU,2022-01-25 19:53:29,69.7008,170.3133,-23.64,99,100,2.44

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap for percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap for percent percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap for Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-01-25 19:48:59,-22.9661,-42.0278,84.16,69,0,25.32
16,16,Demerval Lobao,BR,2022-01-25 19:53:33,-5.3583,-42.6764,90.81,64,49,2.06
22,22,Sinnamary,GF,2022-01-25 19:53:35,5.3833,-52.9500,78.69,83,79,11.45
25,25,Avarua,CK,2022-01-25 19:53:37,-21.2078,-159.7750,82.45,83,0,8.05
27,27,Rotifunk,SL,2022-01-25 19:53:37,8.2333,-12.6833,76.77,67,14,6.11
37,37,Dzaoudzi,YT,2022-01-25 19:53:42,-12.7887,45.2699,75.09,100,0,3.44
38,38,Atuona,PF,2022-01-25 19:52:44,-9.8000,-139.0333,78.10,74,2,17.81
40,40,Hilo,US,2022-01-25 19:54:43,19.7297,-155.0900,78.24,67,23,4.00
43,43,Aitape,PG,2022-01-25 19:54:44,-3.1374,142.3475,76.87,85,84,3.51
44,44,Kavieng,PG,2022-01-25 19:54:45,-2.5744,150.7967,82.69,77,100,10.07

In [30]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     84.16 -22.9661  -42.0278
16   Demerval Lobao      BR     90.81  -5.3583  -42.6764
22        Sinnamary      GF     78.69   5.3833  -52.9500
25           Avarua      CK     82.45 -21.2078 -159.7750
27         Rotifunk      SL     76.77   8.2333  -12.6833
37         Dzaoudzi      YT     75.09 -12.7887   45.2699
38           Atuona      PF     78.10  -9.8000 -139.0333
40             Hilo      US     78.24  19.7297 -155.0900
43           Aitape      PG     76.87  -3.1374  142.3475
44          Kavieng      PG     82.69  -2.5744  150.7967

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,84.16,-22.9661,-42.0278,Pousada Porto Praia
16,Demerval Lobao,BR,90.81,-5.3583,-42.6764,Pousada Da Paz
22,Sinnamary,GF,78.69,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
25,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
27,Rotifunk,SL,76.77,8.2333,-12.6833,
37,Dzaoudzi,YT,75.09,-12.7887,45.2699,Le Rocher
38,Atuona,PF,78.10,-9.8000,-139.0333,Villa Enata
40,Hilo,US,78.24,19.7297,-155.0900,Hilo Hawaiian Hotel
43,Aitape,PG,76.87,-3.1374,142.3475,
44,Kavieng,PG,82.69,-2.5744,150.7967,Nusa Island Retreat

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))